.App {
  text-align: center;
}



h1 {
  background-color: #dcdcdc; /* Set the background color to black */
  color: black; /* Set the text color to white for better contrast */
  padding: 10px; /* Add padding for spacing around the text */
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  font-weight: bold;
  opacity: 1;
}

h4 {
background-color: black; /* Set the background color to black */
color: white; /* Set the text color to white for better contrast */
padding: 10px; /* Add padding for spacing around the text */
}

label {
width : 250px;
font-weight: bold;
}


.background-image {
/* Set the background image URL */
/*background-image: url("C:\Users\tasni\OneDrive\Desktop\todo\images\hospitalpic3.jpg");*

/* Set background size to cover the entire container */
background-size: cover;
/*overflow: hidden; /* Prevent content from overflowing the container */


/* Specify how the background image should be positioned */
background-position: center;

height: 100vh;

/* Fix the background image while scrolling */
background-attachment: fixed;

/* Set a background color in case the image is not available or takes time to load */
background-color: #ffffff;
/*position: relative; /* Ensure relative positioning for the overlay */

/* Optional: Add additional styles for your content */
color: #333;
padding: 20px;
text-align: center;
/* ... Add any other styles you want for the content within the background */
}


.overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(255, 255, 255, 0.99); /* Adjust the color and opacity as needed */
z-index: -1;
}

.black-text {
color: black;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-img {
  width: 100%;        /* Ensure the image takes up the full width of the card */
  /* height: auto;       Maintain aspect ratio of the image */
  height: 200px;
  object-fit: cover;  /* Cover the card area while keeping the aspect ratio */
}
